{{> /user/haeder}}

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_auth_form_box_title">Tistory</div>

            <form>
                <input class="my_auth_form_box_input" type="text" id="username" placeholder="아이디" />
                <button class="my_secondary_btn" type="button" id="btn-passwordReset">비밀번호 초기화</button>
            </form>

        </div>
    </div>
</div>

<script>
    $("#btn-passwordReset").click(() => {
        passwordReset();
    });

    async function passwordReset() {
        let username = $("#username").val();

        let response = await fetch("/api/send-mail", {
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            method: 'PUT',
            body: JSON.stringify(username)
        });

        let responseParse = await response.json();

        console.log(responseParse);

        if (responseParse == 1) {
            console.log("비밀번호 변경 성공");
        } else {
            console.log("비밀번호 변경 실패");
        }
    }
</script>

{{> /layout/footer}}