{{> /layout/main-header}}

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_auth_form_box_title">Tistory</div>

            <div class="my_error_box my_hidden">
                <!-- 오류 메세지 -->
            </div>

            <form action="/join" method="post" onsubmit="return validation()">
                <input class="my_auth_form_box_input" type="text" name="username" placeholder="유저네임" maxlength="20"
                    id="username" required />
                <input class="my_auth_form_box_input" type="password" name="password" placeholder="비밀번호" maxlength="20"
                    id="password" required />
                <input class="my_auth_form_box_input" type="password" name="" placeholder="비밀번호확인" maxlength="20"
                    id="password-check" required />
                <input class="my_auth_form_box_input" type="email" name="email" placeholder="이메일" maxlength="60"
                    required />
                <button class="my_secondary_btn" type="submit">회원가입</button>
            </form>

            <div class="my_auth_form_box_link">
                <div>
                    <a href="/login-form">로그인</a>
                </div>
                <div>
                    <a href="/find-password">비밀번호찾기</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/js/user/joinForm.js"></script>

{{> /layout/footer}}