.my_main_start_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: black;
    cursor: pointer;
    color: white;
}

.my_main_start_btn:hover {
    color: white;
    background-color: rgb(255, 85, 68);
    text-decoration-line: none;
}